# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.log
.env
venv/
.venv/

# ======================
# Django
# ======================
db.sqlite3
static/
staticfiles/
media/

# ======================
# IDE / OS
# ======================
.idea/
.vscode/
.DS_Store
Thumbs.db

# ======================
# Tests / coverage
# ======================
.coverage
htmlcov/

# ======================
# Gunicorn
# ======================
gunicorn.sock
