# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtualenv
# ======================
venv/
.env
.env.*

# ======================
# Django
# ======================
*.log
db.sqlite3
staticfiles/
media/

# migrations (opcjonalnie – patrz komentarz niżej)
# */migrations/*
# !*/migrations/__init__.py

# ======================
# IDE / OS
# ======================
.idea/
.vscode/
.DS_Store
Thumbs.db

# ======================
# Testy / coverage
# ======================
.coverage
htmlcov/

# ======================
# Gunicorn
# ======================
gunicorn.sock
